
.col-width-1 {
    width: 100px;
}

.col-width-2 {
    width: 200px;
}

.col-width-3 {
    width: 300px;
}

.col-width-4 {
    width: 400px;
}

.post-content {
    max-height: 80px; /* 최대 높이 설정 */
    overflow: hidden; /* 넘치는 내용 숨기기 */
    text-overflow: ellipsis; /* 말줄임표(...) 추가 */
    display: -webkit-box; /* Flexbox 레이아웃을 사용 */
    -webkit-line-clamp: 3; /* 최대 줄 수 설정 */
    -webkit-box-orient: vertical; /* 수직 방향으로 설정 */
}