body{
    margin-top:20px;
    background-color: #3393FF;
}
.card {
    margin-bottom: 1.5rem;
    box-shadow: 0 1px 15px 1px rgba(52,40,104,.08);
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #F08080;
    background-clip: border-box;
    border: 1px solid #F08080;
    border-radius: .2rem;
}