<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>User-Info</title>
</head>
<body>
<div th:replace="~{fragments/nav::nav}"></div>
<div class="col-md-6 offset-md-3">
    <main class="card">
        <div class="card-header"> 내 정보 </div>
        <div class="card-body">
            <div class="col-md-4">
                <lable for="image" class="form-label">프로필 사진</lable>
                <img id="image" th:src="@{|/user/image/${user.image}|}" alt="User Image">
<!--                class="img-fluid rounded-circle"-->
<!--                <form th:action="@{/image/upload}" th:method="post" enctype="multipart/form-data" class="mt-2">-->
<!--                    <div class="mb-3">-->
<!--                        <input type="file" class="form-control" name="file" accept="image/*" required>-->
<!--                    </div>-->
<!--                    <button type="submit" class="btn btn-primary">Update Profile Picture</button>-->
<!--                </form>-->
            </div>
            <div class="mb-3">
                <lable for="id" class="form-label">아이디</lable>
                <input type="text" id="id" class="form-label" th:value="${user.userId}" readonly>
            </div>
            <div class="mb-3">
                <lable for="email" class="form-label">이메일</lable>
                <input type="email" id="email" class="form-label" th:value="${user.email}" readonly>
            </div>
            <div class="mb-3">
                <lable for="name" class="form-label">성함</lable>
                <input type="name" id="name" class="form-label" th:value="${user.name}" readonly>
            </div>
            <div class="mb-3">
                <label for="createdAt" class="form-label">가입 일시</label>
                <input type="text" id="createdAt" name="createdAt" class="form-control" th:value="${#temporals.format(user.createAt, 'yyyy-MM-dd HH:mm:ss')}" readonly>
            </div>
        </div>

    </main>
</div>
</body>
</html>